.alert-container {
    font-weight: 500;
    padding: 0.5em 1em;
    display: none;
}

.alert-container.active {
    display: block;
}

.alert-container.danger {
    background-color: rgb(255, 208, 208);
    color: red;
}

.alert-container.success {
    background-color: $secondaryColorLight;
    color: $secondaryColorDark;
}
