.header-container {
    border-bottom: 2px solid $grayColor;
    display: flex;
    gap: 2rem;
    padding: 0 2em;
    align-items: center;

    & * {
        height: 100%;
    }

    .logo-container {
        width: 10%;
    }

    .navigation-container {
        width: 90%;
        display: flex;
        justify-content: space-between;
        gap: 2rem;
        align-items: center;
        a {
            height: 100%;
            padding: 0.6em 0.4em;
            margin: 0 0.2em;
        }
    }

    .header-right-container {
        .profile-container {
            display: flex;
            gap: 1em;
            align-items: center;

            .profile {
                display: flex;
                gap: 0.5em;
                align-items: center;
                .profile-name {
                    background-color: $secondaryColor;
                    width: 30px;
                    height: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: $whiteColor;
                    font-weight: 500;
                    font-size: 1.2rem;
                    border-radius: 50%;
                }
            }
        }
    }
}
