.job-headline-container {
    position: relative;
    background-color: $whiteColor;
    border-radius: 10px;
    padding: 1em;

    .job-header {
        display: flex;
        gap: 1rem;
        justify-content: space-between;

        .job-heading {
            display: flex;
            gap: 0.5em;
            align-items: center;

            .company-icon {
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                background-color: $primaryColorDark;
                color: $whiteColor;
                font-weight: 700;
                width: 40px;
                height: 40px;
                padding: 0.5em;
            }

            .job-column-heading {
                .company-name {
                    color: $grayColorDark;
                }
            }
        }
        .action-btn-container {
            display: flex;
            align-items: center;

            .action-btn {
                background: none;
                border: none;
                cursor: pointer;
                border-radius: 50%;
                color: $primaryColorDark;
                width: 30px;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.1rem;

                &:hover {
                    color: $whiteColor;
                    background-color: $secondaryColorDark;
                }
            }
        }
    }

    .job-details-container {
        margin: 0.5em 0;
        display: flex;
        flex-direction: column;
        gap: 0.4em;

        & > div {
            display: flex;
            align-items: center;
            gap: 0.5em;
        }
    }

    .skills-container {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5em;
        margin-bottom: 1.5em;

        .skill {
            background-color: $grayColor;
            padding: 0.5em;
            border-radius: 10px;
        }
    }

    .job-created-at {
        position: absolute;
        bottom: 10px;
        right: 10px;
        text-align: right;
    }
}
