.job-details-page-wrapper {
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 1em;

    .job-details-wrapper,
    .client-details-wrapper {
        background-color: $whiteColor;
        border: 1px solid $whiteColor;
        border-radius: 10px;
        padding: 1.5em;
    }

    .job-details-wrapper {
        .job-description {
            margin: 1rem 0;

            .job-desc-heading {
                margin: 1rem 0;
            }
        }
        .applicants-list-container {
            display: flex;
            flex-direction: column;
            gap: 1em;
            .applicant-container {
                .applicant-details-container {
                    display: flex;
                    justify-content: space-between;
                    .profile-link {
                        color: $primaryColorDark;
                        font-size: 0.9rem;
                        border-bottom: 1px solid transparent;
                        &:hover {
                            border-color: $primaryColor;
                        }
                    }
                    .applicant-profile {
                        display: flex;
                        gap: 0.5em;

                        &-icon {
                            background-color: $primaryColor;
                            width: 40px;
                            height: 40px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 50%;
                            color: $whiteColor;
                        }

                        .applicant-details {
                            .applicant-name {
                                font-family: "Nunito", sans-serif;
                                font-weight: 700;
                                font-size: 1.2rem;
                            }

                            .applicant-title {
                                font-size: 0.9rem;
                                color: $grayColorDark;
                            }
                        }
                    }

                    .action-btn-container {
                        .action-btn {
                            border: 5px solid $whiteColor;
                        }

                        .accept-btn {
                            color: $whiteColor;
                            background-color: $secondaryColorDark;

                            &:hover {
                                border-color: $secondaryColorLight;
                            }
                        }

                        .reject-btn {
                            color: $whiteColor;
                            background-color: red;
                            &:hover {
                                border-color: rgb(255, 184, 184);
                            }
                        }
                    }
                }
            }
        }

        .apply-btn {
            background-color: $secondaryColorDark;
            color: $whiteColor;
            font-size: 1.2rem;

            &:hover {
                border: 5px solid $secondaryColorLight;
            }

            &:hover.disabled {
                border: none;
            }

            &.disabled {
                border: none;
                background-color: $whiteColor;
                color: $secondaryColorDark;
                cursor: not-allowed;
            }
        }

        .client-details-wrapper {
            .client-details-container {
                margin: 1rem 0;
                .profile-container {
                    display: flex;
                    gap: 0.4em;

                    .icon {
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        background-color: $secondaryColorDark;
                        color: $whiteColor;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 1.1rem;
                    }
                    .details {
                        .client-name {
                            font-size: 1.2rem;
                        }
                        .client-company {
                            font-size: 0.8rem;
                        }
                    }
                }
            }
        }

        .job-created-at {
            position: unset;
        }

        @media (max-width: $md) {
            grid-template-columns: 2fr 1fr;
        }

        @media (max-width: $sm) {
            grid-template-columns: 1fr;
        }
    }
}
