.login-page-container {
    max-width: 800px;
    margin: 0 auto;

    .options-wrapper {
        h3 {
            margin: 1rem 0;
        }
        text-align: center;
        .options-container {
            width: 100%;
            border: 1px solid $primaryColorDark;
            border-radius: 5px;
            display: flex;
            justify-content: space-between;

            .options {
                text-align: center;
                padding: 0.5em;
                width: 50%;

                .options-link {
                    color: $primaryColor;
                    width: 100%;
                    display: inline-block;
                }

                &.active {
                    background-color: $primaryColorDark;

                    .options-link {
                        color: $whiteColor;
                    }
                }
            }
        }
    }
}

.change-auth-container {
    text-align: center;
    .change-auth-btn {
        cursor: pointer;
        border: none;
        background: none;
        font-size: 1.1rem;
        color: $secondaryColorDark;
        font-weight: 700;
        border: 1px solid transparent;

        &:hover {
            border-bottom: 1px solid $secondaryColorDark;
        }
    }
}
