$primaryColorLight: #8fd0fb;
$primaryColor: #209cee;
$primaryColorDark: #038ae4;
$secondaryColorLight: #d4fcd8;
$secondaryColor: #2eae3e;
$secondaryColorMediumLight: #32dc49;
$secondaryColorDark: #07981b;
$whiteColor: #ffffff;
$blackColor: #000000;
$grayColor: #d4d3d3;
$grayColorDark: #8f8888;

$xs: 576px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
